<!DOCTYPE html>
<html>
<head>
	<title>BookREKS</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  	<link href="https://fonts.googleapis.com/css?family=Homemade+Apple&display=swap" rel="stylesheet"> 
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<style type="text/css">
	    .jumbotron {
	     font-family: 'Homemade Apple', cursive;
	     background-color: powderblue;
	    }
	    .rawtext {
	    	font-family: cursive;
	    }
	    .typetexterror {
	    	 /*animation: typing 3.5s steps(40, end);*/
	    }

	    /* The typing effect */
		@keyframes typing {
		  from { width: 0 }
		  to { width: 100% }
		}
  	</style>
</head>
<body>
   <div class="jumbotron text-center">
    	<h1>404</h1>
        <h2>Sorry, no recommendations available!</h2>
        <p class="typetexterror">Are you sure your entered <span class="rawtext">ISBN/ID</span> is correct?</p>
    </div>
</body>
</html>
