<!DOCTYPE html>
<html>
<head>
  <title>BookREKS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Homemade+Apple&display=swap" rel="stylesheet"> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <style type="text/css">
    .jumbotron {
     font-family: 'Homemade Apple', cursive;
     background-color: powderblue;
    }
  </style>
</head>
<body>
    <div class="jumbotron text-center">
        <h1>Books</h1>
    </div>
  <div class="container" >
  <h2>Search</h2>
  <form class="form-inline" method="POST">
    <div class="form-group">
      <input type="text" class="form-control" id="text" placeholder="Enter ID" name="text">
    </div>
    <div class="form-group" style="margin-left: 10px;">
      <input type="radio" name="userChoice" value="isbn_no">ISBN
      <input type="radio" name="userChoice" value="id_no">ID
    </div>
    <button type="submit" class="btn btn-default" style="margin-left: 10px;">Submit</button>
  </form>
</div>
</body>
</html>
