<!DOCTYPE html>
<html>
<head>
  <title>BookREKS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Homemade+Apple&display=swap" rel="stylesheet"> 
  <style type="text/css">
    .jumbotron {
     font-family: 'Homemade Apple', cursive;
     background-color: powderblue;
    }
    .form-control{
      width: 50%;
    }
  </style>
</head>
<body>
    <div class="jumbotron text-center">
        <h1>Books</h1>
    </div>
  <div class="container" >
  <h2>Search</h2>
  <form class="form" method="POST">
    <div class="form-group">
      <input type="text" class="form-control" id="text" placeholder="Enter ID or ISBN" name="text">
    </div>
    <br>
    <div class="form-group form-inline mt-1">
      <label for="userChoice" style="font-size: 1.2rem; font-weight: bold; margin-right: 15px;">Input Type: </label>
      <input type="radio" name="userChoice" id="radioStyle" value="isbn_no" checked>ISBN
      <input type="radio" name="userChoice" id="radioStyle" value="id_no" style="margin-left: 10px;">ID
    </div>
    <br>
    <button type="submit" class="btn btn-outline-primary mt-1">Submit</button>
  </form>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</html>
