<!DOCTYPE html>
<html>
<head>
	<title>BookREKS</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Dancing+Script|Rock+Salt&display=swap" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <style type="text/css">
	.jumbotron {
	  font-family: 'Rock Salt', cursive;
	  background-color: powderblue;
	}
	.cursor {
	  min-height: 100vh;
	  background-color: #ffe6044d;
	  cursor:url(https://resizeimage.net/mypic/wWmQyCxVb3ESOBFy/eAhAt/book-cartoon-royalty-free-clip.jpg), auto;
	}
	.container {
    font-family: 'Dancing Script', cursive;
	}
	.form-inline {
		margin: auto;

	}
	.form-inline {
		margin: auto;
		padding-left: 20px;
		width: 500px;
	}
  </style>
</head>
<body class="cursor">
	<div class="jumbotron text-center" >
 		<h1>Books</h1>
		<p>You searched for</p>
		<figure>
			<img src = {{links[0].image_url}} />
			<figcaption>{{links[0].title}}</figcaption>
		</figure>
	</div>
	<div class="container">
		<div class="row">
			{%for i in range(1,4)%}
					<div class="col-sm-4" style="align-content: center;">
						<img src="{{links[i].image_url}}"/>
						<figcaption>{{links[i].title}}</figcaption>
					</div>
			{%endfor%}
		</div>
		<div class="row">
			{%for i in range(4,7)%}
					<div class="col-sm-4" style="align-content: center;">
						<img src="{{links[i].image_url}}"/>
						<figcaption>{{links[i].title}}</figcaption>
					</div>
			{%endfor%}
		</div>
		<h1><a href="/">Try again!</a></h1>
  		<br>
		</div>
</body>
</html>
